.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.5) 0%, rgb(3, 3, 3) 100%),
        url('https://mcdn.wallpapersafari.com/medium/62/56/HeEh3l.jpg');
    position: relative;
}

.wrapper {
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    align-items: center;
}

.logo {
    color: rgb(22, 208, 162);
    font-size: 3rem;
    text-align: center;
}

.container {
    color: white;
    padding: 1rem;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form {
    max-width: 100%;
    height: 400px;
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.665);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.container form input {
    height: 3rem;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    background-color: rgb(41, 41, 41);
    border: none;
    color: rgb(22, 208, 162);
    outline-color: rgb(22, 208, 162);
}

.container form input::placeholder {
    color: rgba(81, 81, 81, 0.703);
}

.container .login-btn {
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(22, 208, 162);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.container .login-btn:hover {
    transform: scale(1.02);
}

.container .login-btn:active {
    transform: scale(0.98);
}