.movie-list {
    width: 100%;
    margin-bottom: 4rem;
}

.list-title {
    color: rgba(255, 255, 255, 0.232);
    margin-left: 3rem;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
    letter-spacing: -0.3rem;
}

.space-color {
    color: rgba(22, 208, 162, 0.127);
    letter-spacing: 0.2rem;
}

.slider {
    margin-top: 2rem;
    position: relative;
}

.slider .container {
    margin-left: 3rem;
    display: flex;
    width: max-content;
    transition: all 230ms ease-in-out;
}

.slider-arrow {
    font-size: 3rem;
    top: 6rem;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.slider-arrow.left {
    left: 1.3rem;
    transition: all 100ms ease-in-out;
    color: rgba(255, 255, 255, 0.472);
}

.slider-arrow.left:hover {
    color: white;
}

.slider-arrow.right {
    right: 0;
    transition: all 100ms ease-in-out;
    color: rgba(255, 255, 255, 0.472);
}

.slider-arrow.right:hover {
    color: white;
}